<div class="container">
  <h1>お気に入り一覧</h1>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>お気に入りID</th>
          <th>お気に入り投稿</th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
            <td><%= favorite.id %></td>
            <td><%= @post.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= paginate @favorites %>
</div>