<div class="container">
  <!--<h1>お気に入り施設一覧</h1>-->
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>お気に入り施設</th>
      </tr>
    </thead>
    <tbody>
      <% @favorite_list.each do |facility| %>
        <tr>
          <td><%= link_to facility.name, user_facility_path(facility.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>