<div id="map" class="show-map"></div>

<script>
 if (typeof map == "undefined") {
   let map
   let marker
 }

 function initMap(){
   geocoder = new google.maps.Geocoder()

   map = new google.maps.Map(document.getElementById('map'), {
     center: {lat: 35.3368951, lng: 139.4470874},
     zoom: 12,
   });

   marker = new google.maps.Marker({
     position:  {lat: 35.3368951, lng: 139.4470874},
     map: map
   });
 }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>