<div class="mt-3">
  <%= form_with model: comment, url: user_post_comments_path(post, comment), local: false do |f| %>
    <%= f.text_area :content, rows:'5', placeholder: "コメントをここに", size: "50x5" %>
    <%= f.submit "送信" %>
  <% end %>
</div>