/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .show-map {
 height: 80vh;
 width: 90%;
 margin: 0 auto;
}

.form-map {
 height: 50vh;
 width: 50%;
}

.background {
 background-color: #FFFFEE;
}

* { font-family: 'Noto Sans JP', sans-serif; }

.main-visual {
  background-image: url("Downloads/22502311.jpg");
  width: 100%;
  height: 410px;
  background-size: cover;}


.search {
 width: 1300px;
  padding-top: 80px;
}

.main-visual-content {
  width: 600px;
  height: 300px;
}

body {
  background-image: image-url("baby.jpeg");
}
body {
  background-image: image-url("favicon.ico");
}